*{
    margin: 0;
    padding: 0;
}
#img1{
    width: 11rem;
    background-color: gray;
}
.head{
    display: flex;
    justify-content: end;
    padding: 50px;
    gap: 20px;
}
.head a{
    text-decoration: none;
    padding: 3px;
    font-size: 20px;
    color: black;
    font-family: cursive;
}
.head button{
    width: 5rem;
    border: none;
    background-color:  rgb(28, 174, 180);
}
.bg{
    background-color: rgb(28, 174, 180);

}
.H{
    margin-top: 150px;
}
.A{
    /* font-size: 50px; */
    color: rgb(226, 230, 234);
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
}
#B{
    font-size: 25px;
    font-weight: 700;
    font-style: oblique;
    display: flex;
    text-decoration: none;
    color: wheat;
    justify-content: center;
}


/* explore page */

#D{
    padding: 30px;
    background-color: rgb(68, 18, 132);
    color: wheat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
#D a{
    text-decoration: none;
    color: white;
    padding: 30px;
}
.img2{
    display: flex;
    gap: 50px;
}
.img2 a{
    font-size: 20px;
    font-weight:700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
#hill{
    height: 400px;
    width: 320px;
}
.main{
    padding: 50px;
}
.dis{
    color: white;
    padding: 20px;
    margin: 50px;
    font-size: 1.2rem;
}

.main2 img{
    width: 30rem;
}
.main2 h3{
    font-size: 35px;
    color: whitesmoke;
    font-style: italic;
    font-family: cursive;
    font-weight: bolder;
}
.main2 p{
    font-size: 21px;
    font-style: italic;
    color: whitesmoke;
    font-family: monospace;
    gap: 50px;
}
.H{
    display: flex;
    gap: 181px;
    margin: 89px
}
#B:hover{
    color: blue;
}