.bg{
    background-color: rgb(28, 174, 180);
}
.sign{
    display: flex;
    justify-content: center;
}
#up{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: cursive;
}
label{
    font-size: 20px;
}
input{
    width: 268px;
    border-radius: 6px;
    padding: 10px;
}
button{
    width: 166px;
    padding: 10px;
    background-color: navajowhite;
    margin-left: 60px;
}
#M{
    font-size: 25px;
    font-weight: bolder;
}